minecraftServer:
  # This must be overridden, since we can't accept this for the user.
  eula: "TRUE"
  # One of: LATEST, SNAPSHOT, or a specific version (ie: "1.7.9").
  version: "LATEST"
  # This can be one of empty string, "FORGE", "SPIGOT", "BUKKIT", "PAPER", "FTB", "SPONGEVANILLA"; empty string will produce a vanilla server
  type: SPIGOT
  difficulty: normal
  serviceType: LoadBalancer
keel:
  policy: force
  trigger: poll
  pollSchedule: "@every 1h"
  images:
    - repository: image
      tag: imageTag
