imageTag: 1.7-alpine
serviceType : NodePort
externalTrafficPolicy: Cluster
replicas: 3
memoryLimit: 100Mi
cpuLimit: 1
debug:
  enabled: false
ssl:
  enabled: true
  enforced: true
  insecureSkipVerify : true
kvprovider:
  storeAcme: true
  consul:
    endpoint: consul:8500
    watch: true
    prefix: "\"traefik\""
acme:
  enabled: true
  email: $EMAIL
  staging: false
  logging: true
  domains:
    enabled: true
    domainsList:
      - main: "*.$DOMAIN"
      - sans:
        - "$DOMAIN"
      - main: "*.k.$DOMAIN"
      - main: "*.nd.$DOMAIN"
      - main: "*.ha.$DOMAIN"
  challengeType: dns-01
  dnsProvider:
    name: digitalocean
    digitalocean:
      DO_AUTH_TOKEN: "$DO_AUTH_TOKEN"
  persistence:
    enabled: false
dashboard:
  enabled: true
  domain: t.k.$DOMAIN
  auth :
    basic:
       $TRAEFIK_AUTH
  statistics:
    recentErrors: 25
service:
  nodePorts:
    http: "32033"
    https: "32121"
deployment:
  hostPort:
    httpEnabled: true
    httpsEnabled: true
    dashboardEnabled: true
keel:
  policy: all
  trigger: poll
  pollSchedule: "@every 1h"
  approvals: 1
  images:
    - repository: image.repository
      tag: image.tag