mysqlUser: "homeassistant"
mysqlDatabase: "homeassistant"
persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 20Gi
  annotations: {}
metrics:
  enabled: true
keel:
  policy: all
  trigger: poll
  pollSchedule: "@every 1h"
  images:
    - repository: image.repository
      tag: image.tag