persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 5Gi
ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: "traefik"
extraEnv:
  CAMERA_AUTH: ''
configurator:
  enabled: true
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: "traefik"
keel:
  policy: all
  trigger: poll
  pollSchedule: "@every 1h"
  images:
    - repository: image.repository
      tag: image.tag
    - repository: configurator.image.repository
      tag: configurator.image.tag

