securityContext:
  runAsUser: 0
  fsGroup: 0
persistence:
  enabled: true
  accessModes:
    - ReadWriteOnce
  size: 10Gi
ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: "traefik"
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://prom-prometheus-server
      access: proxy
      isDefault: true
keel:
  policy: all
  trigger: poll
  pollSchedule: "@every 1h"
  images:
    - repository: image.repository
      tag: image.tag